#itb{
	font-size:15px;
}

#stikom{
	font-size:18px;
	color:#36F;
}

#tulisan{
    margin-right: 100%; 
    width: 100%; 
} 

#upload{
	vertical-align:top;
}

#edit{
	color:#03F; 
}

#hapus{
	color:#F00;
}



